@charset "UTF-8";

body {
  background-color: #A4B8C4;
  font-family: Arial, Helvetica, sans-serif;
  width: 1000px;
  height: 500px;
  margin: auto;
}
header{
  background: white;
  padding-bottom: 10px;
  border-bottom: 1px solid #A4B8C4 ;
}
nav{
  background: white;
  width: 200px;
  height: 1009px;
  float: left;
}

main {
  background-color: white;
  width: 789px;
  float: right;
  padding-left: 10px;
  text-align: center;
  border-left: 1px solid #A4B8C4;
}

#foto-perfil {
  box-shadow: 5px 5px 10px#A4B8C4;
  border: 5px solid white;
  width: 300px;
  display: block;
}

p {
  text-align: start;
  width: 400px;
  margin: auto;
  column-count: 2;
  column-gap: 50px;
}

a {
  text-decoration: none;
}

#menu li {
  padding: 10px;
  text-align: right;
}

#menu a {
  color: black;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#menu a:hover {
  background: #3D52D5;
  border: 0.5px solid #484A47;
  box-shadow: 2px 2px 2px #484A47;
  color: white;
  padding: 10px;
}